In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import datetime
from IPython import get_ipython
from sklearn import tree, metrics

In [3]:
project_path = "d:\\Covid19"
os.chdir(project_path)
os.getcwd()

'D:\\Covid19'

In [6]:
Covid=pd.read_csv(os.getcwd()+ '\\country_wise_latest.csv')
print(Covid.head(10))
Covid.shape

        Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0          Afghanistan      36263    1269      25198    9796        106
1              Albania       4880     144       2745    1991        117
2              Algeria      27973    1163      18837    7973        616
3              Andorra        907      52        803      52         10
4               Angola        950      41        242     667         18
5  Antigua and Barbuda         86       3         65      18          4
6            Argentina     167416    3059      72575   91782       4890
7              Armenia      37390     711      26665   10014         73
8            Australia      15303     167       9311    5825        368
9              Austria      20558     713      18246    1599         86

   New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0          10             18                3.50                  69.49
1           6             63                2.95                  56.25
2           8            749                4.16                  67.34
3           0              0                5.73                  88.53
4           1              0                4.32                  25.47
5           0              5                3.49                  75.58
6         120           2057                1.83                  43.35
7           6            187                1.90                  71.32
8           6            137                1.09                  60.84
9           1             37                3.47                  88.75

   Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                    5.04                35526            737
1                    5.25                 4171            709
2                    6.17                23691           4282
3                    6.48                  884             23
4                   16.94                  749            201
5                    4.62                   76             10
6                    4.21               130774          36642
7                    2.67                34981           2409
8                    1.79                12428           2875
9                    3.91                19743            815

   1 week % increase             WHO Region
0               2.07  Eastern Mediterranean
1              17.00                 Europe
2              18.07                 Africa
3               2.60                 Europe
4              26.84                 Africa
5              13.16               Americas
6              28.02               Americas
7               6.89                 Europe
8              23.13        Western Pacific
9               4.13                 Europe

(187, 15)

In [7]:
Covid.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

In [ ]:
We need to create dummy variables for the string categorical variable cases to successfully use it in the predictive models.

In [10]:
y_train=Covid["Country/Region"]
x_train=Covid.drop(["Country/Region","1 week change"],axis=1)
print(y_train.head(10))
print(x_train.shape)

x2=x_train.drop("Active",axis=1)
df_with_dummies= pd.get_dummies(x_train,columns=["Active"],drop_first=False)
df_with_dummies

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5    Antigua and Barbuda
6              Argentina
7                Armenia
8              Australia
9                Austria
Name: Country/Region, dtype: object
(187, 13)

,Confirmed,Deaths,Recovered,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,...,Active_98752,Active_107514,Active_108928,Active_117163,Active_170537,Active_201097,Active_254427,Active_495499,Active_508116,Active_2816444
0,36263,1269,25198,106,10,18,3.50,69.49,5.04,35526,...,0,0,0,0,0,0,0,0,0,0
1,4880,144,2745,117,6,63,2.95,56.25,5.25,4171,...,0,0,0,0,0,0,0,0,0,0
2,27973,1163,18837,616,8,749,4.16,67.34,6.17,23691,...,0,0,0,0,0,0,0,0,0,0
3,907,52,803,10,0,0,5.73,88.53,6.48,884,...,0,0,0,0,0,0,0,0,0,0
4,950,41,242,18,1,0,4.32,25.47,16.94,749,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,10621,78,3752,152,2,0,0.73,35.33,2.08,8916,...,0,0,0,0,0,0,0,0,0,0
183,10,1,8,0,0,0,10.00,80.00,12.50,10,...,0,0,0,0,0,0,0,0,0,0
184,1691,483,833,10,4,36,28.56,49.26,57.98,1619,...,0,0,0,0,0,0,0,0,0,0
185,4552,140,2815,71,1,465,3.08,61.84,4.97,3326,...,0,0,0,0,0,0,0,0,0,0
186,2704,36,542,192,2,24,1.33,20.04,6.64,1713,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Decision Tree on Dirty Data (entire uncleaned dataset)

In [12]:
Covid_data=pd.read_csv(os.getcwd()+ '\\country_wise_latest.csv')

Covid_data.shape

(187, 15)

In [13]:
nanrows=Covid_data[Covid_data.isnull().T.any().T]
nanrows.shape

(0, 15)

In [15]:
Covid_data.head(10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe

In [16]:
Covid_data=Covid_data.replace('?',np.nan)
Covid_data.head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [17]:
nanrows=Covid_data[Covid_data.isnull().T.any().T]
nanrows.shape

(0, 15)

In [27]:
Covid_data=Covid_data.drop(["New deaths"],axis=1)
Covid_data=Covid_data.fillna(Covid_data.median())
Covid_data.shape

(187, 11)

In [32]:
y_train_full=Covid["New deaths"]
x_train_full=Covid.drop(["New deaths","1 week changes"],axis=1)
print(y_train_full.shape)
print(x_train_full.shape)

KeyError: "['1 week changes'] not found in axis"

In [33]:
n=4
k=18
accuracy = pd.DataFrame(columns=['Depth', 'Leaf', 'Accuracy'])
clf2=tree.DecisionTreeClassifier(max_depth=n, max_leaf_nodes=k)
clf2=clf2.fit(x_train_full,y_train_full)
#        print("Decision tree built. Calculating accuracy\n")
acu=metrics.accuracy_score(y_train_full, clf2.predict(x_train_full))
print (n, " ",k, " ",acu)
accuracy=accuracy.append([{'Depth':n,'Leaf':k,'Accuracy':acu}])


accuracy.sort_values(by=['Accuracy'], ascending = False)

#classes=pd.Series(clf2.classes_)

#print(type(classes))
#c2=classes.map({True: "T", False: "F"})

#print(c2)

cross_fold = pd.DataFrame(columns=['Precision', 'Recall', 'Accuracy'])
cross_fold.Precision=cross_val_score(clf2,x_train_full,y_train_full,cv=10,scoring='precision')

cross_fold.Recall=cross_val_score(clf2,x_train_full,y_train_full,cv=10,scoring='recall')
cross_fold.Accuracy=cross_val_score(clf2,x_train_full,y_train_full,cv=10)
print("Mean Precision ::{p}".format(p=cross_fold.Precision.mean()))
print("Mean Recall::{p}".format(p=cross_fold.Recall.mean()))
print("Mean Accuracy::{p}".format(p=cross_fold.Accuracy.mean()))

cross_fold

NameError: name 'x_train_full' is not defined